---
layout: cv
title: CV
permalink: /cv/
---

<div class="jumbotron info cv">
    <h1>{{site.data.cv.title}}</h1>
    <p>{{site.data.cv.texte}}</p>
</div>
<div class="row cv">
    <div class="col-md-4">
      <div class="section-header"><h2>Compétences fonctionnelles</h2></div>
      <ul>
      {% for competence in site.data.competences.fonctions %}     
          <li> {{competence}}</li>
      {% endfor %}
      </ul>
  </div>
  <div class="col-md-5">
      <div class="section-header"><h2>Compétences techniques</h2></div>
      <dl class="dl-horizontal medium">
      {% for competence in site.data.competences.techniques %}     
          <dt> <p>{{competence.type}}</p></dt>
          <dd><p>{% for item in competence.items %} <span class="label label-primary">{{item}}</span>{%endfor%}</p></dd>
      {% endfor %}
      </dl>
  </div>
  <div class="col-md-3">
      <div class="section-header"><h2>Perso</h2></div>
      <ul>
      {% for perso in site.data.cv.perso %}     
          <li> {{perso}}</li>
      {% endfor %}
      </ul>
  </div>
  <div class="col-md-6">
    <div class="section-header section-header-merged"><h2>Formations</h2></div>
    {% include timeline.html items=site.data.formations color='info' %}
  </div>
  <div class="col-md-6">
    <div class="section-header section-header-merged"><h2>Expériences significatives</h2></div>
    {% include timeline.html items=site.data.experiences color='warning' subtitle_icon='glyphicon-user' body_include='cv/experience_body.html'%}
  </div>
    
</div>
