<div class="jumbotron info cv">
    {% if include.with_contact %}
    <div class="row">
        <div class="col-md-4" ><div>
            <h2><i class="glyphicon glyphicon-user"></i>&nbsp;Dominik GOLDSCHMIDT</h2>
            <p class=""><i class="warning-icon glyphicon glyphicon-earphone"></i>&nbsp;{{site.phone}}</p>
            <p class=""><i class="warning-icon glyphicon glyphicon-envelope"></i>&nbsp;{{site.email}}</p></div>
        </div>
        <div class="col-md-8">
    {% endif %}
            <h1><i class="glyphicon glyphicon-chevron-right"></i>&nbsp;{{include.cv.title | newline_to_br}}</h1>
            <p>{{include.cv.texte}}</p>
    {% if include.with_contact %}
        </div>
    </div>
    {% endif %}
</div>
<div class="row cv">
    <div class="col-md-5">
      <h2>{{include.dictionary.perso}}</h2>
      <ul>
      {% for perso in include.cv.perso %}     
          <li> {{perso}}</li>
      {% endfor %}
      </ul>
      <h2>{{include.dictionary.competences_fonctionnelles}}</h2>
      <ul>
      {% for competence in include.competences.fonctions %}     
          <li> {{competence}}</li>
      {% endfor %}
      </ul>
      <h2>{{include.dictionary.competences_techniques}}</h2>
      <dl class="dl-horizontal medium">
      {% for competence in include.competences.techniques %}     
          <dt> <p>{{competence.type}}</p></dt>
          <dd><p>{{competence.items | join: ' - '}}</p></dd>
      {% endfor %}
      </dl>
      {% include timeline.html title=include.dictionary.formations items=include.formations color='info' %}
  </div>
  <div class="col-md-7">
    {% include timeline.html title=include.dictionary.experiences items=include.experiences color='warning' subtitle_icon='glyphicon-user' body_include='cv/experience_body.html'%}
  </div>
</div>
